# prometheus.yml
global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'credit-application-service'
    metrics_path: '/api/actuator/prometheus'
    static_configs:
      - targets: ['credit-application-service:8080']
        labels:
          application: 'credit-application-service'

  - job_name: 'risk-central-mock-service'
    static_configs:
      - targets: ['risk-central-mock-service:8081']
        labels:
          application: 'risk-central-mock-service'